<form *ngIf="user" #f="ngForm" (ngSubmit)="submit(f.value)">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input
        [(ngModel)]="user.firstName"
        #firstName="ngModel"
        name="firstName"
        class="input"
        type="text"
        placeholder="Name"
        required
      >
    </div>
    <div *ngIf="firstName.touched && firstName.invalid" class="help is-danger">
      <p *ngIf="firstName?.errors.required">Name is required.</p>
    </div>
  </div>

  <div class="field">
    <label class="label">Last Name</label>
    <div class="control">
      <input
        [(ngModel)]="user.lastName"
        #lastName="ngModel"
        name="lastName"
        class="input"
        type="text"
        placeholder="Last Name"
        required
      >
    </div>
    <div *ngIf="lastName.touched && lastName.invalid" class="help is-danger">
      <p *ngIf="lastName?.errors.required">Last Name is required.</p>
    </div>
  </div>

  <div class="field">
    <label class="label">Position</label>
    <div class="control">
      <input
        [(ngModel)]="user.position"
        #position="ngModel"
        name="position"
        class="input"
        type="text"
        placeholder="Position"
        required
      >
    </div>
    <div *ngIf="position.touched && position.invalid" class="help is-danger">
      <p *ngIf="position?.errors.required">Position is required.</p>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button
        type="submit"
        class="button is-link"
        [disabled]="f.invalid"
      >
        Submit
      </button>
    </div>
    <div class="control">
      <button class="button is-text" routerLink="/app/profile">Back to profile</button>
    </div>
  </div>
</form>
